<p style="color: green"><%= notice %></p>

<h1>Friends</h1>
<br>

<div id="friends">
<table class="table table-hover">
<thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Phone</th>
      <th scope="col">Handle</th>
      <th scope="col">View</th>
    </tr>
  </thead>
<% num=0 %> 
  <tbody>
  <% @friends.each do |friend| %>
    
    
    <tr>
      <td><%= friend.first_name %></td>
      <td><%= friend.last_name %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>
      <td><%= link_to "View", friend , class: "btn btn-secondary"%> </td>
      </tr>
  <tbody>
  <% end %>
</div>

<%= link_to "New Friend", new_friend_path, class: "btn btn-success" %>


